form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #f90;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.center {
    text-align: center;
}

.bold {
    font-size: 40px;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.line {
    text-decoration: underline;
    text-decoration-style: solid;
}

h4 {
    color: SlateGrey;
    padding-left: 20px;
}