{% extends "base.html" %}

{% block content %}
<h2 class="center">Оформление каюты</h2>
<table bgcolor="lightgray" cellspacing="0px" cellpadding="0px" align="center">
        <tr>
                <td>
                        <div class="center">Цвет стен</div>
                </td>
                <td>
                        <div class="center">Эмблема</div>
                </td>
        </tr>
        <tr>
                <td>
                        <img src="{{ url_for('static', filename='img/' + color) }}">
                </td>
                <td>
                        <img src="{{url_for('static', filename='img/' + picture)}}">
                </td>
        </tr>

</table>
{% endblock %}